@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p><strong>Name:</strong> Anthony Ochwo</p>
<p><strong>Student Number:</strong> ST10395938</p>
<p><strong>Module:</strong> CLDV6211</p>
<p><strong>POE Part:</strong> Final POE</p>
<p><strong>Date:</strong> @DateTime.Now.ToString("dd/MM/yyyy")</p>
<p><strong>Last Update:</strong> 24/06/2025</p>


